body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
  }

  #calculator {
    width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  input {
    width: 100%;
    margin: 10px 0;
    padding: 15px 0;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }

  table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #333;
    cursor: pointer;
  }

  button:active {
    background-color: #d9d9d9;
  }

  button.operator {
    background-color: #ffc107; 
    color: #fff;
  }

  button.operator:active {
    background-color: #d6a106;
  }